.tab {
    max-width: 750px;
    &-panel {
        cursor: pointer;
        display: flex;
        width: 100%;
        min-height: 50px;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px 5px 0 0;
    }
    &-item {
        font-size: 18px;
        line-height: 30px;
        padding: 10px 20px;
        border-right: 1px solid rgba(0,0,0,.2);
        &:last-child {
            border: none;
        }
        &-active {
            background-color: rgba(0,0,0,.1);
            width: 200px;
        }
    }
    &-content {
        display: none;
        padding: 20px;
        border: 1px solid rgba(0,0,0,.2);
        border-top: none;
        border-radius: 0 0 5px 5px;
        &-active {
            display: block;
        }
    }
}